.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 1000;

  // @media screen and (max-width: 767px) {
  //   display: none;
  // }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 85vw;
  padding: 70px 30px 30px 30px;

  border-radius: 5px;
  background: linear-gradient(45deg, #ffb8ca, #e17992);
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  z-index: 10001;

  @media screen and (min-width: 680px) {
    width: 528px;
  }
}

.modal__icon-btn {
  display: inline-block;

  width: 15px;
  height: 15px;

  color: currentColor;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid $primary;
  background-color: $secondary;
  border-radius: 50%;

  width: 25px;
  height: 25px;

  transition: ease-in-out 250ms;

  &:focus,
  &:hover {
    fill: $accenthover;
  }
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
}

.modal__form {
  // min-width: 320px;
  // max-width: 520px;
  width: 100%;

  overflow: hidden;
}

.input,
.placeholder {
  display: block;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 4px;

  color: $third;

  font-size: 18px;
  font-weight: 500;
}

.modal__message {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 25px;

  width: 100%;
  height: 110px;

  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background-color: $hover;
  color: $third;

  font-size: 18px;
  font-weight: 500;

  overflow: hidden;
  resize: none;
}

.input {
  width: 100%;
  height: 48px;

  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: $hover;
}

.input:focus,
.textarea:focus {
  background-color: $hover;

  overflow: hidden;
  outline: none;
}
