.about {
  position: relative;

  padding-top: 125px;
  padding-bottom: 39px;

  background: $bg;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  &__top-box {
    display: flex;
    flex-direction: column;
    text-align: center;

    max-width: 208px;

    margin: 0 auto;
    margin-bottom: 26px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      min-width: 431px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 534px;
      margin-bottom: 55px;
    }
  }

  &__bottom-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__text-box {
    position: relative;
    z-index: 99;

    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      margin-left: 17px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 74px;
    }
  }

  &__box-text {
    max-width: 220px;

    @media screen and (min-width: 768px) {
      max-width: 335px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 436px;
    }
  }

  &__bottom-text {
    font-size: 12px;
    letter-spacing: 0;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__text-span {
    display: block;
    margin-top: 10px;
  }

  &__box-btn {
    min-width: 220px;
  }

  .btn__svg {
    margin-left: 10px;
    width: 7px;
    height: 10px;
    fill: none;
    stroke: currentColor;
  }

  &__bottom-btn {
    position: relative;
    padding-right: 37px;
    padding-left: 37px;

    min-height: 44px;
    min-width: 176px;

    color: $accent;
    background-color: $primary;
    border-radius: 22px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.285;

    cursor: pointer;

    box-shadow: inset 0 0 0 0 $hover;
    transition: ease-out 0.4s;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 50px $hover;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  .btn:link,
  .btn:visited {
    padding: 15px 40px;
    display: inline-block;
    transition: all 0.2s;
    position: absolute;
  }

  .btn:focus,
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px $accent;
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px $accent;
  }

  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  .btn-white::after {
    background-color: $primary;
  }

  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &__bottom-img {
    position: absolute;

    background-size: cover;
    width: 100vw;

    left: 0;
    bottom: 10%;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      left: 0;
      bottom: -14%;
    }
  }
}

.subtitle {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.153;

    margin-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.133;
  }
}

.title {
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.145;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.137;
  }
}

.top-text {
  margin-top: 46px;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-top: 56px;
    margin-bottom: 35px;
  }
}

.bottom-text {
  color: $third;
  margin-bottom: 47px;

  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 45px;
  }
}
