.btn {
  padding-right: 35px;
  padding-left: 35px;

  min-height: 44px;

  color: $accent;
  background-color: $primary;
  border-radius: 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;

  cursor: pointer;

  &__svg {
    margin-left: 10px;
    width: 7px;
    height: 10px;
    fill: none;
    stroke: currentColor;
  }

  &:hover,
  &:focus {
    background-color: $hover;
  }
}

.btn--white {
  position: relative;

  color: $accent;
  background-color: $primary;
  border-radius: 22px;

  cursor: pointer;

  box-shadow: inset 0 0 0 0 $hover;
  transition: ease-out 0.4s;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 50px $hover;
  }
}

.btn--white:link,
.btn--white:visited {
  padding: 0 10px;
  transition: all 0.2s;
}

.btn--white:focus,
.btn--white:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px $accent;
}

.btn--white:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px $accent;
}

.btn--white::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: $primary;
}

.btn--white:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--red {
  position: relative;

  color: $primary;
  background-color: $accent;
  border-radius: 22px;

  cursor: pointer;

  box-shadow: inset 0 0 0 0 $accent;
  transition: ease-out 0.4s;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 50px $accent;
  }
}

.btn--red:link,
.btn--red:visited {
  padding: 0 10px;
  transition: all 0.2s;
}

.btn--red:focus,
.btn--red:hover {
  color: $primary;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px $accent;
}

.btn--red:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px $accent;
}

.btn--red::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-red::after {
  background-color: $accent;
}

.btn--red:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
