.btn {
  padding-right: 35px;
  padding-left: 35px;

  min-height: 44px;

  color: $accent;
  background-color: $primary;
  border-radius: 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;

  cursor: pointer;

  &__svg {
    margin-left: 10px;
    width: 7px;
    height: 10px;
    fill: none;
    stroke: currentColor;
  }

  &:hover,
  &:focus {
    background-color: $hover;
  }
}
