.contact {
    @media screen and (min-width:320px) {
        background-image: linear-gradient(
            to top,
            #FFF5F6 94%,
            #FFFFFF 6%,
        );
    }
    @media screen and (min-width:768px) {
        background-image: linear-gradient(
            to top,
            #FFF5F6 86%,
            #FFFFFF 14%,
        );
    }
}
.contact_item {
    display: flex;
    justify-content: center;
    @media screen and (max-width:767px) {
        flex-direction: column;
        align-items: center;
    }
}
.contacts_list {
    width: 223px;
    padding-top: 43px;
    padding-bottom: 18px;
    padding-right: 20px;
    padding-left: 20px;
    background: $primary;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    @media screen and (max-width:767px) {
        &:nth-child(-n + 2) {
            margin-bottom: 20px;
        }
    }
    @media screen and (min-width:768px) {
        padding-top: 50px;
        padding-bottom: 20px;
        padding-right: 32px;
        padding-left: 32px;
        &:nth-child(-n + 2) {
            margin-right: 20px;
        }
    }
    @media screen and (min-width:1200px) {
        width: 330px;
        padding-top: 52px;
        padding-bottom: 20px;
        padding-right: 43px;
        padding-left: 43px;
        &:nth-child(-n + 2) {
            margin-right: 30px;
        }
    }
}
.tabel {
    display: inline;
    padding-right: 25px;
    padding-left: 25px;
    @include font-contact (500, 12px, 1.37, 0.04em);
    color: $primary;
    background:$brown;
    border-radius: 4px;
    cursor: default;
    @media screen and (min-width:768px) {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        padding-left: 16px;
        @include font-contact (500, 14px, 1.87, 0.04em);
    }
    @media screen and (min-width:1200px) {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        padding-left: 16px;
        @include font-contact (500, 16px, 1.87, 0.04em);
    }
}
.tabel--green {
    background-color: $green;
}
.tabel_list {
    padding-top: 25px;
    padding-bottom: 25px;
    &:not(:last-child) {
        border-bottom: 1px solid #E1E1E1;
    }
    @media screen and (min-width:768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.tabel_title {
    margin-bottom: 10px;
    @include font-contact (500, 12px, 1.37, 0.04em);
    color: $main;
    cursor: default;
    @media screen and (min-width:768px) {
        @include font-contact (500, 14px, 1.85, 0.04em);
    }
    @media screen and (min-width:1200px) {
        @include font-contact (500, 16px, 1.87, 0.04em);
    }
}
.tabel_title--city {
    display: inline-block;
    margin-bottom: 10px;
    @media screen and (min-width:768px) {
        margin-bottom: 14px;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 10px;
    }
}
.tabel_text {
    @include font-contact (500, 12px, 1.37, 0.04em);
    color: $third;
    cursor: default;
    @media screen and (min-width:768px) {
        @include font-contact (500, 14px, 1.64, 0.04em);
    }
    @media screen and (min-width:1200px) {
        @include font-contact (500, 16px, 1.81, 0.04em);
    }
}
.tabel_title--day {
    display: block;
    margin-top: 10px;
    @include font-contact (500, 12px, 1.37, 0.04em);
    color: $main;
    cursor: default;
    @media screen and (min-width:768px) {
        margin-top: 16px;
        @include font-contact (500, 14px, 1.85, 0.04em);
    }
    @media screen and (min-width:1200px) {
        @include font-contact (500, 16px, 1.87, 0.04em);
    }
}
.tabel_text--time {
    @include font-contact (500, 12px, 1.37, 0.04em);
    color: $secondary;
    cursor: default;
    @media screen and (min-width:768px) {
        @include font-contact (500, 14px, 1.85, 0.04em);
    }
    @media screen and (min-width:1200px) {
        @include font-contact (500, 16px, 1.87, 0.04em);
    }
}
.tabel_addres {
    @include font-contact (500, 12px, 1.37, 0.04em);
    color: $third;
    cursor: default;
    @media screen and (min-width:768px) {
        @include font-contact (500, 14px, 1.64, 0.04em);
    }
    @media screen and (min-width:1200px) {
        @include font-contact (500, 16px, 1.81, 0.04em);
    }
}
.drawing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 54px;
    @media screen and (min-width:768px) {
        flex-direction: row;
        justify-content: center;
        padding-top: 81px;
        padding-bottom: 81px;
    }
    @media screen and (min-width:1200px) {
        padding-top: 86px;
        padding-bottom: 86px;
    }
}
.drawing_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 44px;
    @include font-contact (bold, 16px, 1.31, 0.04em);
    border: none;
    border-radius: 22px;
    cursor: pointer;
    @media screen and (min-width:768px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media screen and (min-width:1200px) {
        padding-left: 35px;
        padding-right: 35px;
    }
}
.drawing_btn--left {
    color: $primary;
    background-color: $accent;
    @media screen and (max-width:767px) {
        margin-bottom: 10px;
    }
    @media screen and (min-width:768px) {
        margin-right: 15px;
    }
}
.drawing_btn--right {
    color: $accent;
    background-color: $primary;
}
.drawing_svg {
    margin-left: 14px;
    padding-top: 2px;
    width: 7px;
    height: 10px;
}
.contact_hidden {
    display: none;
}