.footer {
  background-color: #fff5f6;
  padding-bottom: 25px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 10px;
  }
}
.footer-section {
  margin-bottom: 65px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 106px;
  }
}
.footer__wrapper {
  max-width: 232px;
  margin-bottom: 43px;
  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 472px;
  }
}
.wrapper-footer__subtitle {
  margin-bottom: 17px;
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
  margin-right: -28px;
  margin-bottom: 46px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.footer__social-item {
  margin-right: 28px;
}
.footer__social-pic {
  fill: #ffffff;
}
.footer__social-link {
  border-radius: 50%;
  background-color: #fea5bb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.footer__contact {
  display: flex;
  justify-content: flex-end;
}
.footer__contact-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.01em;
  margin-right: 2px;
}
.footer__contect-tel {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.01em;
  color: $accent;
}
.footer__privacy-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: $third;
  @media screen and (min-width: 768px) {
    margin-right: 3px;
  }
}
.footer__privacy::before {
  content: '';
  width: 100vw;
  height: 1px;
  background-color: #e1e1e1;
  display: block;
  position: absolute;
  top: -22px;
  left: -20px;
  @media screen and (min-width: 768px) {
    top: -29px;
    left: -34px;
  }
  @media screen and (min-width: 1200px) {
    top: -9px;
    left: -75px;
  }
}
.footer__privacy {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-right: -3px;
  }
}
