// .overlay {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;

//   background-color: rgba(0, 0, 0, 0.6);

//   visibility: hidden;
//   opacity: 0;
//   transition: opacity 500ms;


//  z-index: 500;


//   &:target {
//     visibility: visible;
//     opacity: 1;
//   }
// }

// .modal {
//   position: absolute;
//   display: block;

//   top: 0;
//   right: 0;
//   left: 0;

//   width: 50%;

//   visibility: hidden;
//   opacity: 0;
//   transition: opacity 500ms ease-in;



//  z-index: 502;
//  }


// .modal__btn {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

// .overlay:target + .modal {
//   top: 25%;
//   visibility: visible;
//   opacity: 1;
// }

// .modal {
//   margin: 0 auto;
//   padding: 30px;

//   min-width: 320px;
//   max-width: 520px;
//   width: 100%;

//   border-radius: 5px;
//   background: rgba($accent, 0.6);

//   box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);

//   overflow: hidden;
// }

// .input,
// .placeholder {
//   display: block;
//   margin-bottom: 20px;
//   padding-right: 20px;
//   padding-left: 20px;

//   border-radius: 4px;

//   color: $third;

//   font-size: 18px;
//   font-weight: 500;
// }

// .modal__message {
//   padding-top: 10px;
//   padding-bottom: 10px;
//   padding-right: 20px;
//   padding-left: 20px;
//   margin-bottom: 25px;

//   width: 100%;
//   height: 110px;

//   border: 1px solid rgba(255, 255, 255, 0.6);
//   border-radius: 4px;
//   background-color: $hover;
//   color: $third;

//   font-size: 18px;
//   font-weight: 500;

//   overflow: hidden;
//   resize: none;
// }

// .input {
//   width: 100%;
//   height: 48px;

//   border: 1px solid rgba(255, 255, 255, 0.4);
//   background-color: $hover;
// }

// .input:focus,
// .textarea:focus {
//   background-color: $hover;

//   overflow: hidden;
//   outline: none;
// }
