.gallery {
  background-size: cover;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 80px;
    background-image: linear-gradient(to bottom, #fff5f6 24%, #ffffff 24%);
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 121px;
    background-image: linear-gradient(to bottom, #fff5f6 27.3%, #ffffff 27.3%);
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 123px;
    background-image: linear-gradient(to bottom, #fff5f6 31%, #ffffff 31%);
  }
}
