.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  padding-top: 23px;
  padding-left: 21px;

  width: 100vw;
  height: 100vh;

  max-width: 250px;

  color: $primary;
  background-color: #e17992;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
    max-width: 254px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-button {
  display: block;
  margin-left: auto;

  padding: 0;
  background-color: transparent;
  border: transparent;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent;
  }

  @media screen and(min-width: 1200px) {
    display: none;
  }
}
.menu-button__close {
  position: absolute;
  top: 23px;
  right: 28px;
  &__svg {
    fill: $primary;
  }
  @media screen and (min-width: 768px) {
    right: 34px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu__buy-btn {
  padding-top: 37px;
  margin-bottom: 32px;
}
.buy-now__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 209px;
  height: 44px;
  margin-left: 10px;
  @media screen and (min-width: 768px) {
    width: 186px;
  }
}
.buy-now__svg {
  margin-left: 16px;
}
.menu__navigation {
  margin-bottom: auto;
}

.menu__link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: $primary;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent;
  }
}

.menu__item {
  padding-top: 11px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e18298;
  &:nth-child(1) {
    border-top: 1px solid #e18298;
  }
}
