$main: #000000;

$primary: #ffffff;

$accent: #d41443;

$secondary: #ffa5ba;

$third: #907e82;

$lightPink: #ffb8ca;

$brown: #f0d1a5;

$green: #c2e297;

$hover: #ecebeb;

$accenthover: #c7133e;

$bg: #fff5f6;

$bgAccent: #fafafa;

$mmLine: #e18298;

$mmbg: #e17992;

$gray: #e1e1e1;

$bullet: #d9d9d9;

// $animationCubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
