$main: #000000;

$primary: #ffffff;

$accent: #d41443;

$secondary: #ffa5ba;

$third: #907e82;

$lightPink: #ffb8ca;

$brown: #f0d1a5;

$green: #c2e297;

$hover: #ecebeb;

$accenthover: #C7133E;

$bg: #fff5f6;

// $animationCubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
