/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

body {
  height: 100%;
  color: #000000;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.785;
  letter-spacing: 0.04em;
}

.container, .header__hero--wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container, .header__hero--wrap {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .header__hero--wrap {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .header__hero--wrap {
    width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: #d41443;
  font-family: 'Titan One', cursive;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
  }
}

.subtitle {
  color: #ffa5ba;
  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: 1.153;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 30px;
  }
}

.btn, .header__btn {
  padding-right: 35px;
  padding-left: 35px;
  min-height: 44px;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;
  cursor: pointer;
}

.btn__svg {
  margin-left: 10px;
  width: 7px;
  height: 10px;
  fill: none;
  stroke: currentColor;
}

.btn:hover, .header__btn:hover, .btn:focus, .header__btn:focus {
  background-color: #ecebeb;
}

.btn, .header__btn {
  position: relative;
  padding-right: 37px;
  padding-left: 37px;
  min-height: 44px;
  min-width: 176px;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 0 #ecebeb;
          box-shadow: inset 0 0 0 0 #ecebeb;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btn:hover, .header__btn:hover, .btn:focus, .header__btn:focus {
  -webkit-box-shadow: inset 0 0 0 50px #ecebeb;
          box-shadow: inset 0 0 0 50px #ecebeb;
}

@media screen and (min-width: 768px) {
  .btn, .header__btn {
    font-size: 16px;
  }
}

.btn:link, .header__btn:link,
.btn:visited,
.header__btn:visited {
  padding: 15px 40px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
}

.btn:focus, .header__btn:focus, .btn:hover, .header__btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px #d41443;
          box-shadow: 0 10px 20px #d41443;
}

.btn:active, .header__btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px #d41443;
          box-shadow: 0 5px 10px #d41443;
}

.btn::after, .header__btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #ffffff;
}

.btn:hover::after, .header__btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.btn, .header__btn {
  position: relative;
  padding-right: 37px;
  padding-left: 37px;
  min-height: 44px;
  min-width: 176px;
  color: #ffffff;
  background-color: #d41443;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 0 #d41443;
          box-shadow: inset 0 0 0 0 #d41443;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btn:hover, .header__btn:hover, .btn:focus, .header__btn:focus {
  -webkit-box-shadow: inset 0 0 0 50px #d41443;
          box-shadow: inset 0 0 0 50px #d41443;
}

@media screen and (min-width: 768px) {
  .btn, .header__btn {
    font-size: 16px;
  }
}

.btn:link, .header__btn:link,
.btn:visited,
.header__btn:visited {
  padding: 15px 40px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
}

.btn:focus, .header__btn:focus, .btn:hover, .header__btn:hover {
  color: #d41443;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px #d41443;
          box-shadow: 0 10px 20px #d41443;
}

.btn:active, .header__btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px #d41443;
          box-shadow: 0 5px 10px #d41443;
}

.btn::after, .header__btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #d41443;
}

.btn:hover::after, .header__btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 23px;
  padding-left: 21px;
  width: 100vw;
  height: 100vh;
  max-width: 250px;
  color: #ffffff;
  background-color: #e17992;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .menu-container {
    padding-left: 24px;
    max-width: 254px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-button {
  display: block;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  fill: #d41443;
}

@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button__close {
  position: absolute;
  top: 23px;
  right: 28px;
}

.menu-button__close__svg {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .menu-button__close {
    right: 34px;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__buy-btn {
  margin-top: 37px;
  margin-bottom: 19px;
}

.buy-now__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 209px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .buy-now__btn {
    width: 186px;
    margin-left: 10px;
  }
}

.buy-now__svg {
  margin-left: 16px;
}

.menu__navigation {
  margin-bottom: auto;
}

.menu__link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #d41443;
}

.menu__item {
  padding-top: 11px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e18298;
}

.menu__item:nth-child(1) {
  border-top: 1px solid #e18298;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  z-index: 100;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  width: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  z-index: 101;
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay:target + .modal {
  top: 25%;
  visibility: visible;
  opacity: 1;
}

.modal {
  margin: 0 auto;
  padding: 30px;
  min-width: 320px;
  max-width: 520px;
  width: 100%;
  border-radius: 5px;
  background: rgba(212, 20, 67, 0.6);
  -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.input,
.placeholder {
  display: block;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
  color: #907e82;
  font-size: 18px;
  font-weight: 500;
}

.modal__message {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
  width: 100%;
  height: 110px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background-color: #ecebeb;
  color: #907e82;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  resize: none;
}

.input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #ecebeb;
}

.input:focus,
.textarea:focus {
  background-color: #ecebeb;
  overflow: hidden;
  outline: none;
}

.header {
  background-color: #ffb8ca;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
}

@media screen and (min-width: 1200px) {
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    padding-top: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-left: -70px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.header__menu--link {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__menu--link:hover, .header__menu--link:focus {
  color: #d41443;
}

@media screen and (max-width: 1199px) {
  .header__menu {
    display: none;
  }
}

.header__menu--btn {
  margin-left: auto;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__menu--btn {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1199px) {
  .header__menu--btn {
    display: none;
  }
}

.header .header__menu--link:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media screen and (max-width: 767px) {
  .header__btn {
    display: none;
  }
}

.header__btn--icon {
  fill: #d41443;
  margin-left: 12px;
}

.hero {
  margin-bottom: 20px;
}

.hero__box {
  padding-top: 137px;
  padding-bottom: 160px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero__box {
    padding-top: 15px;
    padding-bottom: 33px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__box {
    padding-top: 83px;
    padding-bottom: 56px;
  }
}

.hero__content {
  width: 218px;
}

@media screen and (min-width: 768px) {
  .hero__content {
    width: 162px;
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__content {
    width: 277px;
    margin-bottom: 112px;
  }
}

.hero__title {
  color: #ffffff;
  font-family: 'Titan One', cursive;
  font-size: 26px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 162px;
    margin-bottom: 121px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 277px;
    margin-bottom: 210px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    font-size: 22px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    font-size: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    margin-bottom: 25px;
  }
}

.hero--span {
  color: #d41443;
  font-size: 48px;
  line-height: 0.95;
}

@media screen and (min-width: 768px) {
  .hero--span {
    font-size: 34px;
    line-height: 0.88;
  }
}

@media screen and (min-width: 1200px) {
  .hero--span {
    font-size: 58px;
  }
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__button--item:first-child {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .hero__button--item:first-child {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__button--item:first-child {
    margin-right: 15px;
  }
}

.hero__button--products, .hero__button--technology {
  height: 24px;
  border-radius: 22px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}

@media screen and (min-width: 1200px) {
  .hero__button--products, .hero__button--technology {
    font-size: 14px;
    height: 40px;
  }
}

.hero__button--products {
  background-color: #d41443;
  color: #ffffff;
  min-width: 62px;
}

@media screen and (min-width: 1200px) {
  .hero__button--products {
    font-size: 14px;
    width: 104px;
  }
}

.hero__button--products:hover, .hero__button--products:focus {
  background-color: #C7133E;
}

.hero__button--technology {
  background-color: #ffffff;
  color: #d41443;
  min-width: 82px;
}

@media screen and (min-width: 1200px) {
  .hero__button--technology {
    font-size: 14px;
    min-width: 138px;
  }
}

.hero__button--technology:hover, .hero__button--technology:focus {
  background-color: #ecebeb;
}

.hero__info {
  margin-left: 120px;
  width: 120px;
}

@media screen and (max-width: 767px) {
  .hero__info {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hero__info {
    margin-left: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__info {
    width: 200px;
  }
}

.hero__info--text {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  margin-bottom: 7px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__info--text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.hero__info--link {
  width: 100%;
  height: 100%;
}

.hero__info--img {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 1200px) {
  .hero__info--img {
    width: 26px;
    height: 26px;
  }
}

.hero__statistics {
  position: absolute;
  top: 12px;
  right: 0;
}

@media screen and (max-width: 767px) {
  .hero__statistics {
    display: none;
  }
  .hero__statistics--summary {
    cursor: pointer;
    list-style: none;
  }
  .hero__statistics--summary::before {
    content: '';
    background-image: url(../images/header+hero/arrow-right.png);
    background-size: cover;
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
  }
}

@media screen and (max-width: 767px) and (min-width: 1200px) {
  .hero__statistics--summary::before {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .hero__statistics--details[open] .hero__statistics--summary::before {
    content: '';
    background-image: url(../images/header+hero/arrow-right.png);
    background-size: cover;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
  }
}

@media screen and (max-width: 767px) and (min-width: 1200px) {
  .hero__statistics--details[open] .hero__statistics--summary::before {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .hero__statistics--details[open] .hero__statistics--content {
    -webkit-transform: translate(0, -73px);
            transform: translate(0, -73px);
    width: 107px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #ffffff;
    position: absolute;
  }
}

@media screen and (max-width: 767px) and (min-width: 1200px) {
  .hero__statistics--details[open] .hero__statistics--content {
    -webkit-transform: translate(0, -124px);
            transform: translate(0, -124px);
    width: 200px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .hero__statistics--details[open] .hero__statistics--content {
    -webkit-animation: slide ease-out 1s;
            animation: slide ease-out 1s;
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slide {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero__statistics {
    top: 74px;
    right: 0;
  }
}

.hero__statistics--item:not(:last-child) {
  margin-bottom: 13px;
}

@media screen and (min-width: 1200px) {
  .hero__statistics--item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.hero__statistics--text {
  color: #ffffff;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  position: relative;
  z-index: 4;
}

@media screen and (min-width: 1200px) {
  .hero__statistics--text {
    font-size: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .hero__statistics--text {
    margin-right: 11px;
  }
}

.hero__statistics--text::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: -3px;
  right: -10px;
  z-index: -1;
}

@media screen and (min-width: 1200px) {
  .hero__statistics--text::before {
    width: 30px;
    height: 30px;
    top: -8px;
    left: 66px;
  }
}

.hero__statistics--span {
  font-family: 'Titan One', cursive;
  color: #d41443;
  font-size: 28px;
  line-height: 1.14;
}

@media screen and (min-width: 1200px) {
  .hero__statistics--span {
    font-size: 46px;
  }
}

.header__hero--wrap {
  background-image: url(../images/header+hero/icecream-min.png), url(../images/header+hero/ellipse-min.png);
  background-size: 171px 410px, 346px 344px;
  background-repeat: no-repeat;
  background-position: 117px bottom, 36px 83px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__hero--wrap {
    background-image: url(../images/header+hero/icecream_2x-min.png), url(../images/header+hero/ellipse-min_2x.png);
  }
}

@media screen and (min-width: 768px) {
  .header__hero--wrap {
    background-image: url(../images/header+hero/icecream-min.png), url(../images/header+hero/milk-min.png), url(../images/header+hero/lady-min.png), url(../images/header+hero/ellipse-min.png);
    background-size: 143px 336px, 124px 126px, 168px 133px, 324px 322px;
    background-position: 378px bottom, left 34px bottom 28px, 566px bottom, 307px 31px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header__hero--wrap {
    background-image: url(../images/header+hero/icecream_2x-min.png), url(../images/header+hero/milk_2x-min.png), url(../images/header+hero/lady_2x-min.png), url(../images/header+hero/ellipse-min_2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .header__hero--wrap {
    background-size: 236px 557px, 188px 191px, 293px 232px, 538px 538px;
    background-position: 554px bottom, left 37px bottom 45px, 838px bottom, 435px 52px;
  }
}

.products-section {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .products-section {
    padding-top: 127px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section {
    padding-top: 122px;
    padding-bottom: 119px;
  }
}

.products-subtitle {
  text-align: center;
  margin-bottom: 15px;
}

.products-title {
  text-align: center;
  margin-bottom: 144px;
}

@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .products-title {
    margin-bottom: 259px;
  }
}

.products-list {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .products-list {
    max-width: 1050px;
  }
}

.products-list__item {
  border-radius: 24px;
  padding: 161px 40px 41px 40px;
  margin-bottom: 130px;
  position: relative;
}

.products-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .products-list__item {
    padding: 152px 11px 40px 11px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .products-list__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__item {
    padding: 163px 44px 50px 44px;
    margin-right: 25px;
  }
  .products-list__item:last-child {
    margin-right: 0;
  }
}

.products-list__item--pink {
  background-color: #ffb8ca;
}

.products-list__item--brown {
  background-color: #f0d1a5;
}

.products-list__item--green {
  background-color: #c2e297;
}

.products-list__title {
  position: relative;
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.products-list__title::after {
  content: '';
  width: 100%;
  height: 6px;
  background: url(../images/products/points.png) no-repeat center center;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .products-list__title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 32px;
  }
  .products-list__title::after {
    margin-top: 32px;
  }
}

.products-list__title--pink::before {
  position: absolute;
  top: -274px;
  content: '';
  background: url(../images/products/320px/product-1-320-1x.png) 0 0 no-repeat;
  width: 249px;
  height: 252px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-list__title--pink::before {
    background: url(../images/products/320px/product-1-320-2x.png);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .products-list__title--pink::before {
    background: url(../images/products/768px/product-1-768-1x.png) 0 0 no-repeat;
    top: -256px;
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--pink::before {
    background: url(../images/products/768px/product-1-768-2x.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__title--pink::before {
    background: url(../images/products/1200px/product-1-1200-1x.png) 0 0 no-repeat;
    top: -373px;
    width: 335px;
    height: 335px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__title--pink::before {
    background: url(../images/products/1200px/product-1-1200-2x.png);
    background-size: cover;
  }
}

.products-list__title--brown::before {
  position: absolute;
  top: -274px;
  content: '';
  background: url(../images/products/320px/product-2-320-1x.png) 0 0 no-repeat;
  width: 249px;
  height: 252px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-list__title--brown::before {
    background: url(../images/products/320px/product-2-320-2x.png);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .products-list__title--brown::before {
    background: url(../images/products/768px/product-2-768-1x.png) 0 0 no-repeat;
    top: -256px;
    width: 220px;
    height: 232px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--brown::before {
    background: url(../images/products/768px/product-2-768-2x.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__title--brown::before {
    background: url(../images/products/1200px/product-2-1200-1x.png) 0 0 no-repeat;
    top: -373px;
    width: 335px;
    height: 335px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__title--brown::before {
    background: url(../images/products/1200px/product-2-1200-2x.png);
    background-size: cover;
  }
}

.products-list__title--green::before {
  position: absolute;
  top: -274px;
  content: '';
  background: url(../images/products/320px/product-3-320-1x.png) 0 0 no-repeat;
  width: 249px;
  height: 252px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-list__title--green::before {
    background: url(../images/products/320px/product-3-320-2x.png);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .products-list__title--green::before {
    background: url(../images/products/768px/product-3-768-1x.png) 0 0 no-repeat;
    top: -256px;
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--green::before {
    background: url(../images/products/768px/product-3-768-2x.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__title--green::before {
    background: url(../images/products/1200px/product-3-1200-1x.png) 0 0 no-repeat;
    top: -373px;
    width: 335px;
    height: 335px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__title--green::before {
    background: url(../images/products/1200px/product-3-1200-2x.png);
    background-size: cover;
  }
}

.products-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .products-list__text {
    font-size: 16px;
    line-height: 1.78;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__text {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 62px;
  }
}

.products-list__button {
  cursor: pointer;
  list-style: none;
}

.products-list__button::before {
  content: '';
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: url("../images/products/arrow-right.png") no-repeat center center;
  display: block;
  margin: 0 auto;
  -webkit-transition: ease-out 2s;
  transition: ease-out 2s;
}

.products-list__details[open] .products-list__button::before {
  content: '';
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: url("../images/products/arrow-right.png") no-repeat center center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: ease-out 2s;
  transition: ease-out 2s;
}

.products-list__details[open] .products-list__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(13%, rgba(255, 255, 255, 0)), color-stop(79%, white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 13%, white 79%);
  border-radius: 24px;
  padding: 50px;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@media screen and (min-width: 768px) {
  .products-list__details[open] .products-list__wrapper {
    padding: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__details[open] .products-list__wrapper {
    padding: 40px;
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.products-list__wrapper-text {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #3a3a3a;
}

@media screen and (min-width: 1200px) {
  .products-list__wrapper-text {
    font-size: 15px;
  }
}

.about {
  position: relative;
  padding-top: 125px;
  padding-bottom: 39px;
  background: #fff5f6;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

.about__top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 208px;
  margin: 0 auto;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__top-box {
    min-width: 431px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .about__top-box {
    min-width: 534px;
    margin-bottom: 55px;
  }
}

.about__bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .about__bottom-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__text-box {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .about__text-box {
    margin-left: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .about__text-box {
    margin-left: 74px;
  }
}

.about__box-text {
  max-width: 220px;
}

@media screen and (min-width: 768px) {
  .about__box-text {
    max-width: 335px;
  }
}

@media screen and (min-width: 1200px) {
  .about__box-text {
    max-width: 436px;
  }
}

.about__bottom-text {
  font-size: 12px;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .about__bottom-text {
    font-size: 14px;
  }
}

.about__text-span {
  display: block;
  margin-top: 10px;
}

.about__box-btn {
  min-width: 220px;
}

.about .btn__svg {
  margin-left: 10px;
  width: 7px;
  height: 10px;
  fill: none;
  stroke: currentColor;
}

.about__bottom-btn {
  position: relative;
  padding-right: 37px;
  padding-left: 37px;
  min-height: 44px;
  min-width: 176px;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 0 #ecebeb;
          box-shadow: inset 0 0 0 0 #ecebeb;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.about__bottom-btn:hover, .about__bottom-btn:focus {
  -webkit-box-shadow: inset 0 0 0 50px #ecebeb;
          box-shadow: inset 0 0 0 50px #ecebeb;
}

@media screen and (min-width: 768px) {
  .about__bottom-btn {
    font-size: 16px;
  }
}

.about .btn:link, .about .header__btn:link,
.about .btn:visited,
.about .header__btn:visited {
  padding: 15px 40px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
}

.about .btn:focus, .about .header__btn:focus,
.about .btn:hover,
.about .header__btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px #d41443;
          box-shadow: 0 10px 20px #d41443;
}

.about .btn:active, .about .header__btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px #d41443;
          box-shadow: 0 5px 10px #d41443;
}

.about .btn::after, .about .header__btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about .btn-white::after {
  background-color: #ffffff;
}

.about .btn:hover::after, .about .header__btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.about .btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.about__bottom-img {
  position: absolute;
  background-size: cover;
  width: 100vw;
  left: 0;
  bottom: 12%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__bottom-img {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about__bottom-img {
    left: 0;
    bottom: 0%;
  }
}

.subtitle {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subtitle {
    font-size: 26px;
    line-height: 1.153;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 30px;
    line-height: 1.133;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.145;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
    line-height: 1.137;
  }
}

.top-text {
  margin-top: 46px;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .top-text {
    margin-top: 50px;
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .top-text {
    font-size: 16px;
    margin-top: 56px;
    margin-bottom: 35px;
  }
}

.bottom-text {
  color: #907e82;
  margin-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .bottom-text {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .bottom-text {
    margin-bottom: 45px;
  }
}

.advantages {
  background-color: #fff5f6;
  padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__item {
  position: relative;
  padding-top: 66px;
  max-width: 230px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    min-width: 180px;
    padding-top: 86px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    padding-top: 90px;
    max-width: 330px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages__numb {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages__numb {
    font-size: 48px;
    line-height: 1.15x;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__numb {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 15px;
  }
}

.advantages__numb {
  margin-bottom: 16px;
}

.advantages__numb--first::before {
  content: '';
  width: 33px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/advantages/icon1-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__numb--first::before {
    background-image: url(../images/advantages/icon1-2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.advantages__numb--second::before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/advantages/icon2-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__numb--second::before {
    background-image: url(../images/advantages/icon2-2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.advantages__numb--third::before {
  content: '';
  width: 44px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/advantages/icon3-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__numb--third::before {
    background-image: url(../images/advantages/icon3-2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.advantages__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: 0.02em;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.contact {
  padding-bottom: 113px;
}

@media screen and (min-width: 320px) {
  .contact {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(94%, #fff5f6), color-stop(6%, #ffffff));
    background-image: linear-gradient(to top, #fff5f6 94%, #ffffff 6%);
  }
}

@media screen and (min-width: 768px) {
  .contact {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(86%, #fff5f6), color-stop(14%, #ffffff));
    background-image: linear-gradient(to top, #fff5f6 86%, #ffffff 14%);
    padding-bottom: 158px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    padding-bottom: 165px;
  }
}

.contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .contact_item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .contact_item {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.contacts_list {
  max-width: 220px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-right: 20px;
  padding-left: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .contacts_list:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts_list {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts_list {
    max-width: 330px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-right: 43px;
    padding-left: 43px;
  }
}

.tabel {
  display: inline;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #f0d1a5;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .tabel {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.87;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .tabel {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.04em;
  }
}

.tabel--green {
  background-color: #c2e297;
}

.tabel_list {
  padding-top: 25px;
  padding-bottom: 25px;
}

.tabel_list:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .tabel_list {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .tabel_list {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.tabel_title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .tabel_title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .tabel_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.04em;
  }
}

.tabel_title--city {
  display: inline-block;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .tabel_title--city {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .tabel_title--city {
    margin-bottom: 10px;
  }
}

.tabel_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .tabel_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .tabel_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.81;
    letter-spacing: 0.04em;
  }
}

.tabel_title--day {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .tabel_title--day {
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .tabel_title--day {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.04em;
  }
}

.tabel_text--time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .tabel_text--time {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .tabel_text--time {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.04em;
  }
}

.tabel_address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .tabel_address {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .tabel_address {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.81;
    letter-spacing: 0.04em;
  }
}

.drawing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 54px;
}

@media screen and (min-width: 768px) {
  .drawing {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    padding-top: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .drawing {
    padding-top: 86px;
  }
}

.drawing_btn {
  max-width: 161px;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .drawing_btn {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .drawing_btn {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 208px;
  }
}

.drawing_btn--left {
  color: #ffffff;
  background-color: #d41443;
}

@media screen and (max-width: 767px) {
  .drawing_btn--left {
    margin-bottom: 10px;
  }
}

.drawing_btn--right {
  color: #d41443;
  background-color: #ffffff;
}

.footer {
  position: relative;
  background-color: #fff5f6;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 10px;
  }
}

.footer-section {
  margin-bottom: 65px;
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section {
    margin-bottom: 106px;
  }
}

.footer__wrapper {
  max-width: 232px;
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    max-width: 340px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    max-width: 472px;
  }
}

.wrapper-footer__subtitle {
  margin-bottom: 17px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

@media screen and (min-width: 1200px) {
  .footer__social-list {
    margin-bottom: 50px;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 28px;
}

.footer__social-pic {
  fill: #ffffff;
}

.footer__social-link {
  border-radius: 50%;
  background-color: #fea5bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: #d41443;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__contact-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.01em;
  margin-right: 2px;
}

.footer__contect-tel {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.01em;
  color: #d41443;
}

.footer__privacy-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .footer__privacy-item:not(:last-child) {
    margin-right: 3px;
  }
}

.footer__privacy::before {
  content: '';
  height: 1px;
  background-color: #e1e1e1;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 89px;
}

@media screen and (min-width: 768px) {
  .footer__privacy::before {
    bottom: 73px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__privacy::before {
    bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .footer__privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */