// base
@import './variables';
@import './normalize';
@import './reset';
@import './general';
@import './mixin';

//components
@import './title';
@import './btn';
@import './mobile-menu';
@import './form';

//layouts
@import './header';

@import './products';

@import './about';
@import './advantages';

@import './contacts';
@import './footer';

@import './animation-menu';
