// base
@import './variables';
@import './normalize';
@import './reset';
@import './general';
@import './mixin';

//components
@import './title';
@import './btn';

//layouts
@import './header';
@import './mobile-menu';
@import './products';
@import './form';
@import './about';
@import './advantages';
@import './contacts';
