<section class="about">
  <div class="about-section container">
    <div class="about-top__box">
      <p class="about-top__text subtitle">tradition and love</p>
      <h2 class="about-top__title title">how it’s made?</h2>
    </div>
    <div class="about-bottom__box">
      <picture>
        <source
          srcset="
            ./images/desktop-cow-1x.png 1x,
            ./images/desktop-cow-2x.png 2x,
            ./images/desktop-cow-3x.png 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/tablet-cow-1x.png 1x,
            ./images/tablet-cow-2x.png 2x,
            ./images/tablet-cow-3x.png 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile-cow-1x.png 1x,
            ./images/mobile-cow-2x.png 2x,
            ./images/mobile-cow-3x.png 3x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/about-cow.png" alt="Cow with milk" />
      </picture>
      <div class="about-text__box">
        <div class="about-box__text">
          <p class="about-bottom__text top-text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
        </div>
        <div class="about-box__text">
          <p class="about-bottom__text bottom-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.

            <!-- ?margin -->
            <span class="about-text__span">Aliquam erat volutpat. Aenean accumsan.</span>
          </p>
        </div>
        <div class="about-box__btn">
          <button class="about-bottom__btn" type="button">Read More</button>
        </div>
      </div>
      <picture>
        <source
          srcset="
            ./images/desktop-milk-1x.png 1x,
            ./images/desktop-milk-2x.png 2x,
            ./images/desktop-milk-3x.png 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/mobile-milk-1x.png 1x,
            ./images/mobile-milk-2x.png 2x,
            ./images/mobile-milk-3x.png 3x
          "
          media="(min-width: 320px)"
        />
        <img class="about-bottom__img" src="./images/about-milk.png" alt="Cow with milk" />
      </picture>
    </div>
  </div>
</section>
