<!-- <a href="#" class="overlay" id="#form1"></a> -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal modal__container">
    <button type="button" class="btn-close" data-modal-close>
      <!-- <svg class="icon-btn">
        <use href="./image/sprite.svg#icon-X"></use>
      </svg> -->
    </button>
    <!-- <form class="modal__form" action="">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <div class="about-modal">
        <p class="about-modal__text"></p>
      </div>
    </form> -->
  </div>
</div>
