<section class="about">
  <div class="about__section container">
    <div class="about__top-box">
      <p class="about__top-text subtitle" data-aos="fade-up" data-aos-delay="50">
        tradition and love
      </p>
      <h2 class="about__top-title title" data-aos="fade-up" data-aos-delay="150">how it’s made?</h2>
    </div>
    <div class="about__bottom-box">
      <picture data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="600">
        <source
          srcset="
            ./images/about/desktop-cow-1x.png 1x,
            ./images/about/desktop-cow-2x.png 2x,
            ./images/about/desktop-cow-3x.png 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/about/tablet-cow-1x.png 1x,
            ./images/about/tablet-cow-2x.png 2x,
            ./images/about/tablet-cow-3x.png 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/about/mobile-cow-1x.png 1x,
            ./images/about/mobile-cow-2x.png 2x,
            ./images/about/mobile-cow-3x.png 3x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/about/about-cow.png" alt="Cow with milk" />
      </picture>
      <div
        class="about__text-box"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="600"
      >
        <div class="about__box-text">
          <p class="about__bottom-text top-text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
        </div>
        <div class="about__box-text">
          <p class="about__bottom-text bottom-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.

            <span class="about__text-span">Aliquam erat volutpat. Aenean accumsan.</span>
          </p>
        </div>
        <div class="about__box-btn">
          <button class="about__bottom-btn" type="button">Read More</button>
        </div>
      </div>
      <picture>
        <source
          srcset="
            ./images/about/desktop-milk-1x.png 1x,
            ./images/about/desktop-milk-2x.png 2x,
            ./images/about/desktop-milk-3x.png 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/about/mobile-milk-1x.png 1x,
            ./images/about/mobile-milk-2x.png 2x,
            ./images/about/mobile-milk-3x.png 3x
          "
          media="(min-width: 320px)"
        />
        <img class="about__bottom-img" src="./images/about/about-milk.png" alt="Cow with milk" />
      </picture>
    </div>
  </div>
</section>
