<section class="contact">
  <div class="container">
    <h2 class="visually-hidden">Contact center</h2>
    <ul class="contact_item">
      <li class="contacts_list" data-aos="flip-left" data-aos-delay="400">
        <div class="tabel">CAFE</div>
        <div class="tabel_item">
          <div class="tabel_list">
            <span class="tabel_title tabel_title--city"> Chicago </span>
            <p class="tabel_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="tabel_list">
            <span class="tabel_title"> Monday - Friday </span>
            <p class="tabel_text--time">06:00 AM - 10:00 PM</p>
            <span class="tabel_title--day"> Saturday - Sunday </span>
            <p class="tabel_text--time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="tabel_list">
            <a class="tabel_address" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="tabel_address" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="contacts_list" data-aos="flip-right" data-aos-delay="500">
        <div class="tabel tabel--green">FOODTRUCK</div>
        <div class="tabel_item">
          <div class="tabel_list">
            <span class="tabel_title tabel_title--city"> Los Angeles </span>
            <p class="tabel_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="tabel_list">
            <span class="tabel_title"> Monday - Friday </span>
            <p class="tabel_text--time">06:00 AM - 10:00 PM</p>
            <span class="tabel_title--day"> Saturday - Sunday </span>
            <p class="tabel_text--time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="tabel_list">
            <a class="tabel_address" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="tabel_address" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
      <li class="contacts_list" data-aos="flip-left" data-aos-delay="600">
        <div class="tabel">CAFE</div>
        <div class="tabel_item">
          <div class="tabel_list">
            <span class="tabel_title tabel_title--city"> New York </span>
            <p class="tabel_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="tabel_list">
            <span class="tabel_title"> Monday - Friday </span>
            <p class="tabel_text--time">06:00 AM - 10:00 PM</p>
            <span class="tabel_title--day"> Saturday - Sunday </span>
            <p class="tabel_text--time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="tabel_list">
            <a class="tabel_address" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="tabel_address" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="drawing">
      <button
        class="drawing_btn drawing_btn--left"
        type="button"
        data-aos="fade-up"
        data-aos-delay="250"
      >
        Our Locations
        <svg class="btn__svg">
          <use href="./images/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button
        class="drawing_btn drawing_btn--right"
        type="button"
        data-aos="fade-up"
        data-aos-delay="350"
      >
        Franchise
        <svg class="btn__svg">
          <use href="./images/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
