<!-- <form class="modal">
  <input class="modal__name input" name="name" placeholder="Enter your name:" required />
  <input
    class="modal__email input"
    name="emailaddress"
    type="email"
    placeholder="Enter your Email:"
    required
  />
  <textarea
    class="modal__message textarea"
    name="subject"
    placeholder="Enter your message:"
    required
  ></textarea>
  <button class="modal__btn btn" type="submit">
    Send
    <svg class="btn__svg">
      <use href="./images/sprite.svg#arrow"></use>
    </svg>
  </button>
</form> -->
