<section class="gallery">
  <div
    class="gallery__photo"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="500"
    data-aos-offset="0"
  >
    <picture>
      <source
        srcset="
          ../src/images/gallery/gallery_desktop_1x.jpg 1x,
          ../src/images/gallery/gallery_desktop_2x.jpg 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ../src/images/gallery/gallery_tab_1x.jpg 1x,
          ../src/images/gallery/gallery_tab_2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ../src/images/gallery/gallery_mob_1x.jpg 1x,
          ../src/images/gallery/gallery_mob_2x.jpg 2x
        "
        media="(min-width:320px)"
      />
      <img
        class="gallery__img"
        src="../src/images/gallery/gallery_desktop_1x.jpg"
        alt="ice_cream_assortment"
      />
    </picture>
  </div>
</section>
