<header class="header">
  <div class="header__hero--wrap">
    <nav class="header__nav">
      <a href="" class="header__logo">
        <img
          srcset="
            ./images/header+hero/headlogo_2x-min.png 1x,
            ./images/header+hero/headlogo_2x-min.png 2x
          "
          src="./images/header+hero/headlogo_2x-min.png"
          alt="main logo"
          width="199"
          height="50"
          class="header__logo--img"
        />
      </a>
      <ul class="header__menu">
        <li class="header__menu--item">
          <a href="#" class="header__menu--link"> Home </a>
        </li>
        <li class="header__menu--item">
          <a href="#" class="header__menu--link"> About us </a>
        </li>
        <li class="header__menu--item">
          <a href="#" class="header__menu--link"> How it’s made? </a>
        </li>
        <li class="header__menu--item">
          <a href="#" class="header__menu--link"> Our products </a>
        </li>
        <li class="header__menu--item">
          <a href="#" class="header__menu--link"> Contact </a>
        </li>
      </ul>
      <button type="button" class="header__menu--btn">
        <svg class="header__menu-open" width="20" height="12">
          <use href="./images/sprite.svg#burger_btn"></use>
        </svg>
      </button>
      <button type="button" class="header__btn" data-modal-open>
        Buy now
        <svg class="header__btn--icon" width="6" height="12">
          <use href="./images/sprite.svg#button_arrow"></use>
        </svg>
      </button>
    </nav>
    <div class="hero__box">
      <div class="hero__content">
        <h1 class="hero__title" data-aos="zoom-in-up" data-aos-delay="150" data-aos-duration="4000">
          ice cream made with <span class="hero__title--span">passion</span>
        </h1>
        <ul class="hero__button">
          <li class="hero__button--item">
            <button
              type="button"
              class="hero__button--products"
              data-aos="fade-up"
              data-aos-delay="450"
            >
              Products
            </button>
          </li>
          <li class="hero__button--item">
            <button
              type="button"
              class="hero__button--technology"
              data-aos="fade-up"
              data-aos-delay="550"
            >
              How it’s made?
            </button>
          </li>
        </ul>
      </div>
      <div class="hero__info">
        <p class="hero__info--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="#" class="hero__info--link">
          <img
            src="./images/header+hero/arrow-right.png"
            alt="info link image"
            class="hero__info--img"
            data-aos="fade-up"
            data-aos-delay="350"
          />
        </a>
      </div>
      <div class="hero__statistics">
        <ul class="hero__statistics--list">
          <li
            class="hero__statistics--item"
            data-aos="zoom-in-up"
            data-aos-delay="250"
            data-aos-duration="4000"
          >
            <p class="hero__statistics--text">
              <span class="hero__statistics--span">16</span> <br />
              cafes
            </p>
          </li>
          <li class="hero__statistics--item">
            <p
              class="hero__statistics--text"
              data-aos="zoom-in-up"
              data-aos-delay="350"
              data-aos-duration="4000"
            >
              <span class="hero__statistics--span">23</span> <br />
              food trucks
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
