<header class="header" id="home">
  <div class="header__hero--milk">
    <div class="header__hero--circle">
      <div class="header__hero--lady">
        <div class="header__hero--icecream">
          <nav class="header__nav">
            <a href="" class="header__logo">
              <img
                srcset="
                  ./images/header+hero/headlogo_2x-min.png 1x,
                  ./images/header+hero/headlogo_2x-min.png 2x
                "
                src="./images/header+hero/headlogo_2x-min.png"
                alt="main logo"
                width="199"
                height="50"
                class="header__logo--img"
              />
            </a>
            <ul class="header__menu">
              <li class="header__menu--item">
                <a href="#home" class="header__menu--link"> Home </a>
              </li>
              <li class="header__menu--item">
                <a href="#review" class="header__menu--link"> About us </a>
              </li>
              <li class="header__menu--item">
                <a href="#how-made" class="header__menu--link"> How it’s made? </a>
              </li>
              <li class="header__menu--item">
                <a href="#products" class="header__menu--link"> Our products </a>
              </li>
              <li class="header__menu--item">
                <a href="#contact" class="header__menu--link"> Contact </a>
              </li>
            </ul>
            <button type="button" class="header__menu--btn js-open-menu">
              <svg class="header__menu-open" width="20" height="12">
                <use href="./images/sprite.svg#burger_btn"></use>
              </svg>
            </button>
            <button
              type="button"
              class="header__btn btn--white btn-white btn-animate"
              data-modal-open
            >
              Buy now
              <svg class="header__btn--icon" width="6" height="12">
                <use href="./images/sprite.svg#button_arrow"></use>
              </svg>
            </button>
          </nav>
          <div class="hero__box">
            <div class="hero__content">
              <h1
                class="hero__title"
                data-aos="zoom-in-up"
                data-aos-delay="150"
                data-aos-duration="4000"
              >
                ice cream made with <span class="hero__title--span">passion</span>
              </h1>
              <ul class="hero__button">
                <li class="hero__button--item">
                  <a
                    href="#products"
                    class="hero__button--products btn--red btn-red btn-animate"
                    class="hero__title"
                    data-aos="fade-up"
                    data-aos-delay="400"
                    data-aos-duration="5000"
                  >
                    Products
                  </a>
                </li>
                <li class="hero__button--item">
                  <a
                    href="#how-made"
                    class="hero__button--technology btn--white btn-white btn-animate"
                    data-aos="fade-up"
                    data-aos-delay="500"
                    data-aos-duration="5000"
                  >
                    How it’s made?
                  </a>
                </li>
              </ul>
            </div>
            <div class="hero__info">
              <details class="hero__info--details">
                <summary class="hero__info--summary"></summary>
                <div class="hero__info--content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et
                </div>
              </details>
            </div>
            <div class="hero__statistics">
              <ul class="hero__statistics--list">
                <li
                  class="hero__statistics--item"
                  data-aos="zoom-in-up"
                  data-aos-delay="250"
                  data-aos-duration="4000"
                >
                  <p class="hero__statistics--text">
                    <span class="hero__statistics--span">16</span>
                    cafes
                  </p>
                </li>
                <li class="hero__statistics--item">
                  <p
                    class="hero__statistics--text"
                    data-aos="zoom-in-up"
                    data-aos-delay="350"
                    data-aos-duration="4000"
                  >
                    <span class="hero__statistics--span">23</span>
                    food trucks
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
