<div class="menu-container js-menu-container" id="menu-container" data-menu>
  <button
    class="menu-button menu-button__close js-close-menu"
    type="button"
    aria-expanded="false"
    aria-controls="menu-container"
  >
    <svg
      class="menu-button__close--icon"
      width="14"
      height="14"
      aria-lable="Переключатель мобильного меню"
    >
      <use class="icon-close-menu" href="./images/sprite.svg#icon-burger-close"></use>
    </svg>
  </button>
  <div class="menu__buy-btn">
    <button data-modal-open class="buy-now__btn btn" type="button">
      Buy now
      <svg class="buy-now__svg" width="5.26" height="8">
        <use href="./images/sprite.svg#button_arrow"></use>
      </svg>
    </button>
  </div>
  <div class="navigation">
    <nav class="menu__navigation">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#home">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#about-us">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#how-it’s-made">How it’s made?</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#our-products">Our products</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
