<section class="products-section">
  <div class="container">
    <p class="products-subtitle subtitle">100% natural</p>
    <h2 class="products-title title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item products-list__item--pink">
        <h3 class="products-list__title products-list__title--pink">ice cream</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-list__btn" type="button"></button>
      </li>
      <li class="products-list__item products-list__item--brown">
        <h3 class="products-list__title products-list__title--brown">ice coffee</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-list__btn" type="button"></button>
      </li>
      <li class="products-list__item products-list__item--green">
        <h3 class="products-list__title products-list__title--green">milkshakes</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-list__btn" type="button"></button>
      </li>
    </ul>
  </div>
</section>
