<section class="container reviews">
  <div class="reviews__content">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="reviews__body swiper-slide">
          <div class="reviews__img">
            <img
              src="../src/images/gallery/reviews_1x.jpg"
              alt="smiling_girl"
              width="85"
              height="85"
            />
          </div>
          <div class="reviews__item">
            <div class="svg__quotes">
              <svg class="icon-quotes" width="54" height="40">
                <use href="../src/images/sprite.svg#icon-quotes"></use>
              </svg>
            </div>
            <div class="reviews__link">
              <div class="reviews_item__text">
                <p class="reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
          </div>
          <div class="reviews__element">
            <svg class="icon-element" width="32" height="4">
              <use href="../src/images/sprite.svg#icon-element"></use>
            </svg>
          </div>
          <div class="reviews__title">
            <h2 class="reviews__title_text">Emily, Los Angeles</h2>
          </div>
        </div>

        <div class="reviews__body swiper-slide">
          <div class="reviews__img">
            <img
              src="../src/images/gallery/reviews_two_1x.jpg"
              alt="smiling_girl"
              width="85"
              height="85"
            />
          </div>
          <div class="reviews__item">
            <div class="svg__quotes">
              <svg class="icon-quotes" width="54" height="40">
                <use href="../src/images/sprite.svg#icon-quotes"></use>
              </svg>
            </div>
            <div class="reviews__link">
              <div class="reviews_item__text">
                <p class="reviews__text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, architecto
                  doloremque dicta numquam consequatur eligendi culpa suscipit quidem.
                </p>
              </div>
            </div>
          </div>
          <div class="reviews__element">
            <svg class="icon-element" width="32" height="4">
              <use href="../src/images/sprite.svg#icon-element"></use>
            </svg>
          </div>
          <div class="reviews__title">
            <h2 class="reviews__title_text">Lara, Massachusetts</h2>
          </div>
        </div>

        <div class="reviews__body swiper-slide">
          <div class="reviews__img">
            <img
              src="../src/images/gallery/reviews_three_1x.jpg"
              alt="smiling_girl"
              width="85"
              height="85"
            />
          </div>
          <div class="reviews__item">
            <div class="svg__quotes">
              <svg class="icon-quotes" width="54" height="40">
                <use href="../src/images/sprite.svg#icon-quotes"></use>
              </svg>
            </div>
            <div class="reviews__link">
              <div class="reviews_item__text">
                <p class="reviews__text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus iure laudantium
                  ipsum repellat, omnis odit assumenda veniam eligendi, architecto minus iusto.
                </p>
              </div>
            </div>
          </div>
          <div class="reviews__element">
            <svg class="icon-element" width="32" height="4">
              <use href="../src/images/sprite.svg#icon-element"></use>
            </svg>
          </div>
          <div class="reviews__title">
            <h2 class="reviews__title_text">Theresa, New York</h2>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>